:root {
	/* universal */
	--white: #fff;
	--black: #000;
	--gray-black: #333;
	--sun-yellow: #fed976;
	--moon-blue: #a6bddb;
	--text-black: #333;

	/* light theme */
	--border-gray-lt: #ccc;
	--red-lt: #bd0026;

	/* dark theme */
	--background-gray-dk: #282D33;
	--background-md-gray-dk: #5B6775;
	--text-gray-dk: #adbac7; //#bcbddc; //#bdbdbd;
	--text-md-gray-dk: #eee;
	--red-dk: #800026;
	--header-dk: #223333;
	--visited-link: pink;
	--selected-item: #869CFA;
}

