html {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  font-family: "Roboto", sans-serif; //"Secular One"
}

body {
  background-color: var(--white);
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 50px;
}

body.dark {
  background-color: var(--background-gray-dk);
}

h1 {
  margin: 0px;
  font-size: 40px;
  font-weight: 700;
}

h2 {
  font-size: 18px;
  margin: 0px;
}

p {
  margin: 0;
  font-size: 16px;
}

a.dark {
  color: var(--text-gray-dk);
}

/* a.dark:visited { */
/*   color: var(--visited-link); */
/* } */

.footer {
  padding: 10px;
  text-align: right;
  font-weight: 700;
  font-size: 14px;
}
